
@{
    ViewData["Title"] = "SiparisTamam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<h3>Satın  Aldığınız Ürünler Enkısa Sürede Kargoya Verilecektir...</h3>
<br />
<h5>SB_KALEM'i Tercih Ettiğiniz için Teşekkür Ederiz.</h5>

